/* Element Deklaration */

h1  {color: #6a5acd;
     background-color: #c5c1c1;
     text-shadow: 0 0 0.5px black;}

h2  {color: #6a5acd;
     background-color: #dddbdb;}

p   {background-color: #e8e8e8;}

ul  {background-color: #e8e8e8;}

body {
    font-family: "Sour Gummy", Verdana, sans-serif;
    background-image: url("../img/background.png");
}

label{
    color:#e94a2c;
    font-size: 3em;
    text-transform: uppercase;
}

.mainContainer {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 6px, solid, #e94a2c;
    border-radius: 30px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.404);
}

#subContainer {
    margin-top: 50px;
    padding: 15px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    width: 250px;
    height: 35px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    border: 3px, solid, #3333cc;
    padding-left: 5px;
}

label {
    margin-bottom: 10px;
}

#rounds {
    margin-top: 30px;
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #3333cc;
}


/* Klassen Deklarationen */



/* Identifier Deklaration */

#start {
    margin-top: 50px;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border: 6px, solid, #e94a2c;
    border-radius: 30px;
    background-color: #e94a2c;
    color: white;
}

#start:hover {
    background-color: #db2b08;
    border: 6px, solid, #db2b08;
}

#start:active {
    background-color: #bc2506;
    border: 6px, solid, #bc2506;
}

/* Container for the game UI */
#gameContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
 /* Display area for round results */
 #resultDisplay {
 }
 
 /* Container for the round count */
 #roundCount {
    width: 100%;
    height: 50px;
    background-color: #e94a2c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
 }
 
 /* Span element for the current round number */
 #currentRound {
     /* Your styles here */
 }
 
 /* Container for the scoreboard */
 #scoreBoard {
 }
 
 #winnerDisplay {
    background-image: url("/img/konfetti.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 75%;

    color: rgb(255, 255, 255);

    text-shadow:  2px  2px 2px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;

    font-size: 32px;
    font-weight: bold;
    font-family: monospace;
    margin: 50px;
    padding: 50px;
    border-style: none none solid none;
    border-color: rgb(210, 42, 42);
    border-width: 1.5px;
}


 #winnerName {
    color: rgb(210, 42, 42);
    background-color: transparent;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    animation: typing 3s steps(8) forwards;
 }
  
/*typing animation*/
@keyframes typing {
    0% {
        width: 0;
     } 
    100% {
        width: 8ch;
     }
}

#restartButton {
    margin: 20px;
    padding: 10px;
    border-color: rgb(210, 42, 42);
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    animation: blinker 2s linear infinite;
}
/*blinking animation*/
@keyframes blinker {
    15% {
        opacity: 1;
    }
    45% {
      opacity: 0;
    }
    65% {
        opacity: 1;
    }
  }

 /* Class for participant selection areas */
 .selectionArea {
    margin-top: 30px;
    margin-bottom: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }